.btn:focus {
    box-shadow: none;
}
.NavbarComponent {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.ToDoComponent {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

    .Panel {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        max-width: 720px;
        min-height: 200px;
        height: 70vh;

        .ItemsContainer {
            position: absolute;
            bottom: 58px;
            top: 60px;
            right: 0px;
            left: 0px;
            overflow-y: scroll;
            border-top: 1px solid rgba(250,0,0,0.2);
            
            .Item {
                width: 100%;
                border-bottom: 1px solid rgba(250,0,0,0.2);

                .Square {
                    max-width: 50px;
                }
                .Done {
                    width: 50px;
                    margin-top: 20px;
                    background-color: red;
                }
                .Edit {
                    max-width: 60px;
                    border-left: 1px solid rgba(250,0,0,0.2);
                }
                .Remove {
                    border-left: 1px solid rgba(250,0,0,0.2);
                    border-right: 1px solid rgba(250,0,0,0.2);
                    color: red;
                    font-weight: bold;
                    font-size: 20px;
                }
                .TextLine {
                    text-decoration: line-through;
                }
            }
        }
        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-thumb {
            background: rgba(255,255,255,0.5); 
            border-radius: 4px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(255,255,255,0.7); 
        }
        
        .bottom {
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
    }
}
